@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Noto+Sans:wght@300;400&display=swap');

:root{
    --color1: #8449BC; /* purple */
}

html, body{
    font-family: 'Noto Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, a, span{
    font-family: 'Mina', sans-serif !important;
}

/* TODO: hover on a tags */
a:hover{
    color: var(--color1) !important;
}

footer i {
    font-size: 24px;
    color: var(--color1)
}
