/* FORMULAIRES */

.form-signin {
  max-width: 330px;
  padding: 1rem
}

.form-signin .form-floating:focus-within {
  z-index: 2
}

.form-signin a:hover{
  color: var(--color1)
}


/* FORMULAIRE DE CONNEXION */
.login.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.login.form-signin .passwInput {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

/* FORMULAIRE DU CHOIX DE NIVEAU */
.game-level-form .form-check *{
  cursor: pointer
}
/* radio : couleur différente selon le niveau */
.game-level-form .form-check .form-check-input.easy:checked {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}
.game-level-form .form-check .form-check-input.normal:checked {
  background-color: var(--warning) !important;
  border-color: var(--warning) !important;
}
.game-level-form .form-check .form-check-input.hard:checked {
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;
}