@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Noto+Sans:wght@300;400&display=swap');

:root{
    --color1: #8449BC; /* purple */
}


html, body{
    font-family: 'Noto Sans', sans-serif !important;
    margin: 0;
    padding: 0
}

.page-content {
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 140px
}

h1, h2, h3, h4, h5, h6, a, span{
    font-family: 'Mina', sans-serif !important
}

a, .btn{
    transition: .3s !important
}

.link:hover{
    color: var(--color1) !important
}

img{
    border-radius: 5px
}

/* FOOTER */
.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed
}

.footer i {
    font-size: 24px;
    color: var(--color1)
}