@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Noto+Sans:wght@300;400&display=swap');

:root{
    --color1: #8449BC; /* purple */
    --color2: #212529 /* bootstrap dark */
}


html, body{
    font-family: 'Noto Sans', sans-serif !important;
    margin: 0;
    padding: 0
}

.page-content {
    margin-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 140px
}

h1, h2, h3, h4, h5, h6, a, span{
    font-family: 'Mina', sans-serif !important
}

a, .btn{
    transition: .3s !important
}

.btn-primary{
    background-color: var(--color1) !important;
    border-color: var(--color1) !important
}

.btn-primary:hover{
    opacity: .8 !important;
    color: #fff !important
}

.link:hover{
    color: var(--color1) !important
}

/* Soulignement des liens */
.link-style::after {
    content: "";
    display: block;
    width: inherit;
    height: 1px;
    background-color: var(--color1);
    margin-top: -2px;
}

img{
    border-radius: 5px
}

