# Réécriture d'URL pour serveur Apache (simplifié)

# démarrer le moteur de réécriture
RewriteEngine On

# réécrire l'URL grâce à une règle définie (autoriser lettres mins et majs de a à z, chiffres de 0 à 9, symboles -, _, / et \)
RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php?p=$1
